 

  </div>
  <h1 class="title">Interface de contrôle</h1>
  <div class="bord" id="success">

  </div>
   <div class="bord second" id="fail">

  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/javascripts/sketch.js"></script>