	<script src="/javascripts/sketch.js"></script>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="/">Face Mask Detection</a>
          <button class="navbar-toggler" type="button" data-toggle="colapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="">Home</a>
			  <a class="nav-item nav-link" href="index2.html">Train Model</a>
			  <a class="nav-item nav-link" href="index.html">Predict Model</a>
            </div>
            
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="">Login</a>
              <a class="nav-item nav-link" href="">Register</a>
            </div>
          </div>
        </div>
      </nav>
	</header>
	<br>
	
	<div id="container">
		<br>
		<div class="row">	
			<div class="col-sm-8">
				<div id = "video_holder"></div>
			</div>			
		</div>			
	</div>
